[project]
	description = Learning Algorithms in fashion
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/shashank makkar (makkars)
[access "refs/for/refs/*"]
	read = group user/shashank makkar (makkars)
	push = group user/shashank makkar (makkars)
	label-Code-Review = -2..+2 group user/shashank makkar (makkars)
	label-Verified = -1..+1 group user/shashank makkar (makkars)
	rebase = group user/shashank makkar (makkars)
	removeReviewer = group user/shashank makkar (makkars)
	submit = group user/shashank makkar (makkars)
[access "refs/heads/*"]
	read = group user/shashank makkar (makkars)
	create = group user/shashank makkar (makkars)
	push = +force group user/shashank makkar (makkars)
	pushMerge = group user/shashank makkar (makkars)
[access "refs/tags/*"]
	push = +force group user/shashank makkar (makkars)
	pushTag = group user/shashank makkar (makkars)
	pushSignedTag = group user/shashank makkar (makkars)
